APP_NAME=Bloome
APP_TIMEZONE=America/Argentina/Buenos_Aires
APP_SECURE_COOKIE=0
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=bloome
DB_USERNAME=bloome
DB_PASSWORD=change-this-local-password
MYSQL_ROOT_PASSWORD=change-this-root-password
ADMIN_NAME=Administrador
ADMIN_EMAIL=admin@bloome.local
ADMIN_PASSWORD=
